<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/introduce2">
  이름 : <input type="text" name = "name">
  나이 : <input type="text" name = "age">
  <button>버튼</button>
</form>
<a href="/introduce/최연철">
  /introduce/최연철
</a>
<form action="/interesting" method="post" style="margin-right : 20px;">
    이름 : <input type="text" name = "name" placeholder="이름">
    <br>
    성별 : <input type="radio" name = "gender" value="male">남자 <input type="radio" name = "gender" value="female"> 여자
    <br>
    생년월일 : <input type="date" name = "date"/>
    <br>
    관심사 : <input type="checkbox" name="interest" value="travel"> 여행 <input type="checkbox" name="interest" value="fashion"> 패션 <input type="checkbox" name="interest" value="food"> 음식
    <br>
    <button>POST 요청</button>
<!--  name, gender, date, interest
  -->
</form>
</body>
</html>